<%
sent = params[:action]=='sent'
new = params[:action] == 'new'
inbox = params[:action] == "index"
%>
<h2 class="widget_lrg_title">
<div class="message_header_links">
  <%= inbox ? t('message.inbox') : "#{link_to t('message.inbox'), profile_messages_path(@p)}"%> 
  <span class="grey">| </span>
  <%= sent ? t('message.sent' ) : "#{link_to t('message.sent'), sent_profile_messages_path(@p)}"%>
  <span class="grey">|</span> 
  <%= new ? t('message.new') : "#{link_to t('message.new'), new_profile_message_path(@p)}"%>
</div>
</h2>
