<% content_for :head do  -%>
  <%= auto_discovery_link_tag :rss, profile_blogs_url(@profile, :rss), :title=> t('blog.rss', :user => @profile.full_name %>
<% end -%>

<div>
  <h2 class="page_title">
    <%= t('blog.rss', :user => @profile.full_name %>
    <%= link_to image_tag('add_new_post.png', :title=> t('blog.create'), :class=>"add_new_post2"), 
                new_profile_blog_path(@profile) if @my_blog %>
  </h2>
  <%= render :partial => 'blogs/blog', :locals => {:show_all_comments => true,:blog => @blog} %>
</div>
