<% rounded_corner(:title => t('invite.invite_batchmates')) do %>
  <div class="edit_panel_profile">
    <% form_for [@profile,@invitation] do |f| %>
      <% f.label_class = 'label_margin' %>
      <%= f.labelled_text_area(t('invite.email_list'), 
                               :emails,
                               :title => t('invite.email_list_title'), 
                               :wrap_class => "row_light_large") %>

      <div class="invitation_error"><%= @error %></div>
      <div class="feedback_btn_container">
        <button class="buttons" type="submit">
          <%= theme_image('submit.png')%>
        </button>
      </div>
    <% end %>
  </div>
<% end %>
