<% content_for :head do  -%>
  <%= auto_discovery_link_tag :rss, profile_blogs_url(@profile, :rss), :title=> t('poll.users_polls', :user => @profile.full_name %>
<% end -%>

<div>
  <h2 class="page_title">
    <%= t('poll.users_polls', :user => @profile.full_name %>
    <%= link_to image_tag('add.png', :title=> t('poll.new_post'), :class=>"add_new_post2"), 
                new_profile_poll_path(@profile)  if @p == @profile %>
  </h2>
  <%= render :partial => 'polls/poll',:locals => {:poll => @poll} %>
</div>
