<% rounded_corner(:title => t('account.thanks_for_sign_up') + image_tag("help.png", :title => t('help'), :class => "help")) do %>
  <div class="comments signup_thanks">
    <%= t('account.sign_up_confirmation_message', :email => @user.email, :site => SITE)%>
  </div>
<% end %>
