<% rounded_corner(:title => t('account.forgot_password') + image_tag("help.png", :title => t('help'), :class => "help")) do %>
  <div class="edit_panel_profile">
    <% form_for Profile.new, :url => login_path, :method => :post do |f| %>
      <% f.label_class = 'label_margin' %>
      <p><%= t('account.new_password_was_generated')%></p>
      <%= f.labelled_text_field(t('email'), :email, :wrap_class => :row_dark) %>    
      <button class="buttons" type="submit" name="new_password">
        <%= theme_image("new-password.png") %>
      </button>
    <% end %>
  </div>
<% end %>
